@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}
.container {
    background-color: hsl(0, 0%, 8%);
    height: 100vh; /* Full viewport height */
    width: 100vw;  /* Full viewport width */
    margin: 0; /* Removes default margin */
    padding: 20px; /* Adds space inside the container */
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    box-sizing: border-box; /* Ensures padding is included in the element's dimensions */
}

.box {
    background-color: hsl(0, 0%, 12%);
    height: 500px; /* Set fixed height */
    width: 300px;  /* Set fixed width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px;
}

img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
}
h2{
    font-family: 'inter';
    color: hsl(0, 0%, 100%);
}
.lon{
    color: gold;
    text-align: center;
    font-family: 'Inter', 'sans-serif';
    font-size: 10px;
    position: relative;
    top: -25px;
}
p{
    color:hsl(0, 0%, 60%);
    position: relative;
    top: -19px;
    font-size: 14px;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50px;
    margin: 0 auto;
}
.social-box{
    background-color: hsl(0, 0%, 27%); /* Background color of the boxes */
    border: 1px solid hsl(0, 0%, 10%); /* Border around the boxes */
    padding: 10px; /* Padding inside each box */
    display: inline-block; /* Make each box the full width of the container */
    width: 230px;
    font-family: 'Inter',serif;
    text-align: center; /* Center the text inside the boxes */
    border-radius: 10px; /* Optional: round the corners */
    color: white;
    text-decoration: none;
    transition: border-color 0.3s, background-color 0.3s, transform 0.3s;

}
.social-box:hover {
    background-color: gold;
    border-color:gold;
    transform: translateX(-10px);
}
.social-box a:hover {
    color: #064d99;
}
footer.attribution {
    background-color: hsl(0, 0%, 12%);
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
footer .last{
    color: gold;
}
footer .last:hover{
    color: rgb(75, 105, 80);
}
